@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  color: inherit;
  margin: 0;
}

body {
  font-family: poppins;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-color: white;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1020px;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.grid-gap-1 > * {
  padding: 10px;
}

.grid-gap-1 {
  margin-left: -10px;
  margin-right: -10px;
}

.grid-gap-2 > * {
  padding: 20px;
}

.grid-gap-2 {
  margin-left: -20px;
  margin-right: -20px;
}

.justify-center {
  justify-content: center;
}

@media (min-width: 0) {
  .col-xs-12 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 0) {
  .col-xs-12 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 480px) {
  .col-sm-5 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
}
@media (min-width: 720px) {
  .col-md-5 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-md-6 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
}
@media (min-width: 960px) {
  .col-lg-3 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
}
@media (min-width: 1200px) {
  .col-xl-3 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
}
.card {
  display: block;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 0.75rem;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
}
.card .card-title {
  margin-bottom: 0.75rem;
}
.card .card-body {
  font-weight: normal;
  font-size: 1.5rem;
}
.card .card-body a {
  color: #326dee;
  font-weight: bold;
  text-decoration: none;
}

.btn {
  text-decoration: none;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border: 0;
  background-color: #e2e2e2;
  border-radius: 20px;
  cursor: pointer;
  color: #fff;
}

.btn-primary {
  text-decoration: none;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border: 0;
  background-color: #326dee;
  border-radius: 20px;
  cursor: pointer;
  color: #fff;
}
.btn-primary:hover {
  background-color: #5888f1;
}

.btn-outlined-primary {
  text-decoration: none;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border: 0;
  background-color: #fff;
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid #326dee;
}
.btn-outlined-primary:hover {
  background-color: #326dee;
  color: #fff;
}

.btn-complement-primary {
  text-decoration: none;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border: 0;
  background-color: #326dee;
  border-radius: 20px;
  cursor: pointer;
  color: #fff;
}
.btn-complement-primary:hover {
  background-color: #fae7bf;
  color: #326dee;
}

.btn-secondary {
  text-decoration: none;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border: 0;
  background-color: #1ac888;
  border-radius: 20px;
  cursor: pointer;
  color: #fff;
}
.btn-secondary:hover {
  background-color: #28e39e;
}

.btn-outlined-secondary {
  text-decoration: none;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border: 0;
  background-color: #fff;
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid #1ac888;
}
.btn-outlined-secondary:hover {
  background-color: #1ac888;
  color: #fff;
}

.btn-complement-secondary {
  text-decoration: none;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border: 0;
  background-color: #1ac888;
  border-radius: 20px;
  cursor: pointer;
  color: #fff;
}
.btn-complement-secondary:hover {
  background-color: #f08bb0;
  color: #1ac888;
}

.btn-info {
  text-decoration: none;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border: 0;
  background-color: #f6c31c;
  border-radius: 20px;
  cursor: pointer;
  color: #fff;
}
.btn-info:hover {
  background-color: #f8cd43;
}

.btn-outlined-info {
  text-decoration: none;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border: 0;
  background-color: #fff;
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid #f6c31c;
}
.btn-outlined-info:hover {
  background-color: #f6c31c;
  color: #fff;
}

.btn-complement-info {
  text-decoration: none;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border: 0;
  background-color: #f6c31c;
  border-radius: 20px;
  cursor: pointer;
  color: #fff;
}
.btn-complement-info:hover {
  background-color: #afc1fc;
  color: #f6c31c;
}

.btn-error {
  text-decoration: none;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border: 0;
  background-color: #d32752;
  border-radius: 20px;
  cursor: pointer;
  color: #fff;
}
.btn-error:hover {
  background-color: #dd466c;
}

.btn-outlined-error {
  text-decoration: none;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border: 0;
  background-color: #fff;
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid #d32752;
}
.btn-outlined-error:hover {
  background-color: #d32752;
  color: #fff;
}

.btn-complement-error {
  text-decoration: none;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border: 0;
  background-color: #d32752;
  border-radius: 20px;
  cursor: pointer;
  color: #fff;
}
.btn-complement-error:hover {
  background-color: #a5eedc;
  color: #d32752;
}

.btn-purple {
  text-decoration: none;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border: 0;
  background-color: #9900ff;
  border-radius: 20px;
  cursor: pointer;
  color: #fff;
}
.btn-purple:hover {
  background-color: #a929ff;
}

.btn-outlined-purple {
  text-decoration: none;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border: 0;
  background-color: #fff;
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid #9900ff;
}
.btn-outlined-purple:hover {
  background-color: #9900ff;
  color: #fff;
}

.btn-complement-purple {
  text-decoration: none;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border: 0;
  background-color: #9900ff;
  border-radius: 20px;
  cursor: pointer;
  color: #fff;
}
.btn-complement-purple:hover {
  background-color: #c2ff99;
  color: #9900ff;
}

.navbar .container, .navbar-secondary .container, .navbar, .navbar-secondary {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.navbar, .navbar-secondary {
  padding: 20px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
}
.site-title {
  font-size: 1.5rem;
}

.navbar-secondary {
  background-color: #1ac888;
}

.badge-secondary {
  font-size: 0.75rem;
  font-weight: bold;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-bottom: 0.375rem;
  padding-top: 0.375rem;
  background-color: #1ac888;
  color: #fff;
  border-radius: 6.6666666667px;
}

.text-primary {
  color: #326dee;
}

.bg-primary {
  padding: 0 20px;
  background-color: #326dee;
}

.bg-light-2-primary {
  background-color: #5b8af1;
}

.bg-dark-2-primary {
  padding: 0 20px;
  background-color: #2857be;
}

.bg-light-4-primary {
  background-color: #84a7f5;
}

.bg-dark-4-primary {
  padding: 0 20px;
  background-color: #1e418f;
}

.bg-light-6-primary {
  background-color: #adc5f8;
}

.bg-dark-6-primary {
  padding: 0 20px;
  background-color: #142c5f;
}

.bg-light-7-primary {
  background-color: #c2d3fa;
}

.bg-light-8-primary {
  background-color: #d6e2fc;
}

.bg-dark-8-primary {
  padding: 0 20px;
  background-color: #0a1630;
}

.text-secondary {
  color: #1ac888;
}

.text-hover-secondary:hover {
  color: #1ac888;
}

.bg-secondary {
  padding: 0 20px;
  background-color: #1ac888;
}

.bg-light-9-secondary {
  background-color: #e8faf3;
}

.text-info {
  color: #f6c31c;
}

.text-hover-info:hover {
  color: #f6c31c;
}

.bg-info {
  padding: 0 20px;
  background-color: #f6c31c;
}

.text-hover-dark-info-4:hover {
  color: #fff;
  background-color: #947511;
}

.text-hover-light-info-6:hover {
  color: #fff;
  background-color: #fbe7a4;
}

.text-purple {
  color: #9900ff;
}

.bg-purple {
  padding: 0 20px;
  background-color: #9900ff;
}

.bg-light-2-purple {
  background-color: #ad33ff;
}

.bg-dark-2-purple {
  padding: 0 20px;
  background-color: #7a00cc;
}

.bg-light-4-purple {
  background-color: #c266ff;
}

.bg-dark-4-purple {
  padding: 0 20px;
  background-color: #5c0099;
}

.bg-light-6-purple {
  background-color: #d699ff;
}

.bg-dark-6-purple {
  padding: 0 20px;
  background-color: #3d0066;
}

.bg-light-8-purple {
  background-color: #ebccff;
}

.bg-dark-8-purple {
  padding: 0 20px;
  background-color: #1f0033;
}

.text-gray {
  color: #808080;
}

.bg-light-7-gray {
  background-color: #d9d9d9;
}

.text-white {
  color: white;
}

.text-hover-white:hover {
  color: white;
}

.text-white {
  color: #fff;
}

.p-0 {
  padding: 0;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 4.5rem;
}

.m-1 {
  margin: 0.75rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 4.5rem;
}

.ml-1 {
  margin-left: 0.75rem;
}

.mt-2 {
  margin-top: 1.5rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-5 {
  margin-top: 6rem;
}

.mb-1 {
  margin-bottom: 0.75rem;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.br {
  border-radius: 20px;
}

.d-f {
  display: flex;
}

.fs-sm {
  font-size: 0.75rem;
}

.fs-md {
  font-size: 1rem;
}

.fs-lg {
  font-size: 1.5rem;
}

.fs-xl {
  font-size: 2rem;
}

.fs-xxl {
  font-size: 3rem;
}

.text-center {
  text-align: center;
}